/* reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("./fonts.css");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', monospace;
    color: var(--dark-gray);
    /* transition for dark/light mode */
    transition: background-color 0.6s ease, color 0.5s ease;
}

a, i, ul, li, h1 {
    color: var(--dark-gray);
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

/* color palete */
:root {
    --primary-green: #7D8259;
    --secundary-green: #88917C;
    --light-blue: #85A2A6;
    --dark-gray: #42413F;
    --beige: #EDE0D0;
    --primary-orange: #C36F42;
    --secundary-orange: #E2B281;
    --background-dark: #343431;

    background-color: #E6DED3;
}

/* header and footer equal css */
.Header, .Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 2em;
    z-index: 2;
}

.Logo {
    font-family: 'GutonSemBd', 'Montserrat';
    font-size: 28pt;
    text-decoration: none;
    color: var(--dark-gray);
    transition: ease .5s;
}
.Logo:hover {
    color: var(--primary-green);
}

.Nav-ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.Nav-a {
    text-decoration: none;
    transition: .5s ease;
}

.Nav-a.active {
    color: var(--primary-green);
    border-bottom: 1px solid var(--primary-green);
}

.active > a{
    color: var(--primary-green);
}

.Nav-a:hover, .Nav-i:hover {
    color: var(--primary-orange);
}

/* nav for mobile  */
.Header-menu {
    position: relative;
}

.Nav-i {
    position: absolute;
    top: -1rem;
    right: 1rem;
    scale: 1.8;
}

/* footer css */

.Footer-nav {
    display: flex;
    gap: 1em;
    list-style: none;
}
.Footer-i {
    transition: ease 0.5s;
}
.Footer-i:hover {
    color: var(--primary-orange);
}

/* css for DARKMODE */

body.Dark-mode {
    background-color: var(--background-dark);
    color: var(--beige);
}

.Dark-mode .Logo, 
.Dark-mode .Nav-a, 
.Dark-mode .Nav-i,
.Dark-mode .Footer-i {
    color: var(--beige);
}

.Dark-mode .Main-portfolioTitle,
.Dark-mode .Project-description p,
.Dark-mode .Project-ficha li {
    color: var(--beige) !important;
}
