/* responsiveness CSS, this design followed the premiss of Mobile First */

/* Mobile format  */
@media screen and (max-width: 767px) {
    .Nav-a {
        display: none;
    }
    .Header-icons {
        transform: scale(1.2);
    }
    .Main-grid img{
        border-radius:10px;
    }
}

/* Tablet Format */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* header and footer setup's */
    .Header-icons {
        display: none;
    }
    .Footer-i {
        transform:scale(1.5);
    }
    .Main-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    /* service set up */
    .Servico-img {
        width: 800px;
    }
   
    .Accordion {
        width: 500px;
    }

    .Accordion-block {
        width: 500px;
    }
}

/* Desktop format */
@media screen and (min-width: 1025px){
    /* Header and footer */
    .Header-icons {
        display: none;
    }
    
    .Footer-i {
        transform:scale(1.5);
    }

    /* Homepage */
    .Main-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    /* Services page */
    .Header-logo, .Nav-a {
        color: var(--dark-gray) !important;
    }

    .Main-servicos {
        flex-direction: row;
    }

    .Servico-img {
        height: 700px;
        width: 600px;
        object-fit: cover;
        border-radius: 5px;
        margin: 20px;
    }

    .Accordion {
        width: 500px;
    }

    .Accordion-block {
        width: 500px;
    }

    /* About/Sobre page */
    .Main-about {
        flex-direction: row;
    }
}